@model SAT.DATA.EF.Students

@{
    ViewBag.Title = "Student Details";
}



<div id="studentDetails">
    <div class="dl-horizontal" id="sHeader">

        <h2>
            @Html.DisplayFor(model => model.FullName)
        </h2>
    </div>
        <div id="sdLeft">
            <p>
                @Html.DisplayNameFor(model => model.Major):
            </p>
            <p>
                @Html.DisplayNameFor(model => model.Address):
            </p>
            <p>
                @Html.DisplayNameFor(model => model.City):
            </p>
            <p>
                @Html.DisplayNameFor(model => model.State):
            </p>
            <p>
                @Html.DisplayNameFor(model => model.ZipCode):
            </p>
            <p>
                @Html.DisplayNameFor(model => model.Phone):
            </p>
            <p>
                @Html.DisplayNameFor(model => model.Email):
            </p>
            <p>
                @Html.DisplayNameFor(model => model.StudentStatus.SSName):
            </p>
        </div>



        <div id="sdRight">
            <p>
                @Html.DisplayFor(model => model.Major)
            </p>
            <p>
                @Html.DisplayFor(model => model.Address)
            </p>
            <p>
                @Html.DisplayFor(model => model.City)
            </p>
            <p>
                @Html.DisplayFor(model => model.State)
            </p>
            <p>
                @Html.DisplayFor(model => model.ZipCode)
            </p>
            <p>
                @Html.DisplayFor(model => model.Phone)
            </p>
            <p>
                @Html.DisplayFor(model => model.Email)
            </p>
            <p>
                @Html.DisplayFor(model => model.StudentStatus.SSName)
            </p>
        </div>
        <div class="clearfix"></div>
        <div id="dFooterRight">
            @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId })
        </div>
        <div id="dFooterLeft">
            @Html.ActionLink("Back to List", "Index")
        </div>
    

        @*<dt>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>*@
    
</div>

